{% extends 'base.html' %}
{% load static %}

{% block title %}Seja Bem Vindo{% endblock %}

{% block main %}
<div class="iza-top">
    <div class="iza-container container">
        <div class="container mt-5 mb-4">
            <div class="row">
                <div class="col-12 px-md-4">
                    <ul class="list-unstyled mb-0 list-inline category-stripe pb-3">
                    </ul>
                    <form class="searchBox " novalidate role="search">
                        <input class="form-control py-2" type="search" value="search" id="search-input">
                        <span class="separator"> </span>
                        <button class="submitBtn" type="button">                    
                            <i class="fa fa-search"></i>
                        </button>                        
                </div>
                <div class="col-12 px-0 px-md-4">
                <li class="list-inline-item">
                    <a href="#">
                        <span class="icon-background">
                            <img class="rounded-circle" src="{% static 'assets/img/security.png' %}" style="width: 52px; height: 52px;">
                        </span>
                        <small>Segurança</small>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span class="icon-background">
                            <img class="rounded-circle" src="{% static 'assets/img/informatica.png' %}" style="width: 52px; height: 52px;">
                        </span>
                        <small>Informatica</small>
                    </a>
                </li>
                </div>
            </form>
            </div>   
        </div>  
    </div>
</div>
    <h2 class="title-horizontal" object_name="home" orientation="horizontal">Anúncios recentes</h2>
      <div class="container">
            <div class="row blog">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>

                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/red.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">DVR - Intelbras</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 600.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/green.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Camera</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 260.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/2.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Camera</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 255.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/black.jpg' %}" alt="Image" style="max-width:100%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Motor - Portão</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 755.00</div>
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/red.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">DVR - Intelbras</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 600.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/green.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Camera</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 270.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/2.jpg' %}" alt="Image" style="max-width:90%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Camera</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 270.00</div>
                                        </a>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="#">
                                            <img src="{% static 'assets/img/black.jpg' %}" alt="Image" style="max-width:100%;">
                                            <h3 class="info-title info-title-horizontal" orientation="horizontal">Motor - Portão</h3>
                                            <div class="price price-horizontal" orientation="horizontal">R$ 755.00</div>
                                        </a>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->

                        </div>
                        <!--.carousel-inner-->
                    </div>
                    <!--.Carousel-->

                </div>
            </div>
        </div>  
    </div>

</div>

{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <span class="text-muted">© Copyright 2019 Mundo da Tecnologia ADS-3ºAno</span>
    </div>
  </footer>
{% endblock %}