
/**
Navbar
**/
.navbar{
  margin-bottom: 5rem;
}
.bg-light {
  background-color: #247cd4;
}
.navbar-light .navbar-brand {
    color: rgba(255,255,255,.9);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255,.8);
}
.h1, h1{
  margin-left: 5%;
}
.h2, h2{
  margin-left: 5%;
}
.label-free {
  display: inline-block;
  padding-right: 6px;
  padding-top: 5px;
  position: relative;
}
.btn-orange {
  background-color: #F70;
  color: #FFF;
  border-radius: 10px 5%;
  margin-top: 6px;
}


.OLXad-insert-box {
  float: right;
  margin: -7px 342px 0;
}



.blog .carousel-indicators {
	left: 0;
	top: auto;
  bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.login-form{
  width: 400px;
  margin: 0 auto;

}

.login{
  text-align-last: center;
   margin: 0 auto;
}

.text-muted{
  color: black;
  text-align: start;
}
.th{
  text-align: left;
}
#tabela.btn-group{
  margin-top: -24px;
  padding-left: 72px;
}
#tabela_setor{
  margin-top: -24px;
  column-count: auto;
}
.card-body {
  background: #f8f9fa;
}

.iza-top {
  margin-top: -80px;
  padding-top: 4px;
  margin-bottom: 48px;
  padding-bottom: 59px;
  background-color: #0b40b812;

}
#search-input{
  width: 100%;
  height: 61px;
  display: block;
  padding: 16px 24px;
  border-radius: 4px;
  border: none;
  font-family: Nunito Sans,Helvetica Neue,HelveticaNeue,Helvetica,"sans-serif";
  font-size: 20px;
  outline: none;
  color: #4a4a4a;
}
.searchBox .submitBtn {
  float: right;
  -o-object-fit: contain;
  object-fit: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.searchBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    border-radius: 4px;
    background-color: #fff;
    border: .5px solid #d2d2d2;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

}

.searchBox .submitBtn svg {
  width: 20px;
  height: 20px;
  color: #247cd4;
}

.separator {
  width: 1px;
  height: 60px;
  border: .5px solid #d2d2d2;
}