 {% load static %}

<meta charset="UTF-8" xmlns:color="http://www.w3.org/1999/xhtml">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/stick-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="{% static 'assets/img/tec.png' %}" height="75" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Empresas</a>
                <a href="#" class="nav-item nav-link">Anúncios</a>

                <div class="OLXad-insert-box"></div>
                <span class="label-free">
                  <a class="btn btn-large btn-orange" lurker="ad_insertion" href="#" title="Inserir anúncio">Anunciar</a>
                  </a>
                </span>
            </div>
            <ul class="navbar-nav align-items-center ml-auto">
        <li class="nav-item dropdown" >
            {% if user.is_authenticated %}
            <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá {{ user.username }}
                <img class="rounded-circle" src="{% static 'assets/img/renato.png' %}" alt="" width="35px" height="35px">
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" lurker="my_account"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span class="ml-2">Minha conta</span></a></li>
            {% endif %}
            </a>
        <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
            <div class="bg-white rounded-soft py-2">
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Entrar</a>
              {% endif %}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

        {% block main %}
        {% endblock %}
        

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- Font Awesome JS -->
  <script defer src="{% static 'assets/js/solid.js' %}"></script>
  <script defer src="{% static 'assets/js/fontawesome.js' %}"></script>
    
{% block footer %}
{% endblock %}



</body>
</html>